#prompt {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  place-content: center;
  width: 100%;
}

#prompt input[type="checkbox"] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1 + 1vw); /* IE */
  -moz-transform: scale(1 + 1vw); /* FF */
  -webkit-transform: scale(1 + 1vw); /* Safari and Chrome */
  -o-transform: scale(1 + 1vw); /* Opera */
  transform: scale(1 + 1vw);
  padding: 10px;
}
