#questionnaire-header,
#prompt {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  place-content: center;
  width: 100%;
  text-align: center;
}

#prompt {
  padding-top: 1rem;
}

#examples {
  display: contents;
}

#examples input[type="checkbox"] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1 + 1vw); /* IE */
  -moz-transform: scale(1 + 1vw); /* FF */
  -webkit-transform: scale(1 + 1vw); /* Safari and Chrome */
  -o-transform: scale(1 + 1vw); /* Opera */
  transform: scale(1 + 1vw);
  padding: 10px;
}

#examples span {
  font-size: 0.8em;
  margin-bottom: 0.5rem;
}

#examples ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#examples ul > li {
  padding-bottom: 0.5rem;
}

#examples ul > li > input {
  font-size: inherit;
  width: 80%;
}

div.questionnaire-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
