#data-fns-wrapper {
  display: flex;
  flex-direction: row;
  float: right;
  justify-content: space-around;
  width: 6em;
}
#data-fns-wrapper button:hover span {
  display: flex;
  flex-direction: row;
  float: right;
  justify-content: space-around;
  width: 6em;
  color: #535bf2;
}
@media (prefers-color-scheme: light) {
  #data-fns-wrapper button:hover span {
    color: #747bff;
  }
}
