#data-fns-wrapper {
  position: relative;
}

#data-fns {
  position: absolute;
  top: 0;
  right: 0;
  margin: -1.5em;
}

#footer {
  position: fixed;
  height: 3.5em;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  background-color: #242424;
}

#footer ul {
  display: flex;
  gap: 1em;
  list-style-type: none;
  justify-content: center;
  padding-inline-start: unset;
}

#footer a.active {
  text-decoration: underline;
}

@media (prefers-color-scheme: light) {
  #footer {
    background-color: #ffffff;
  }
}
