#profile-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 1em;
}

#profile-form * {
  width: 100%;
}

.form__input {
  min-height: 2em;
  box-sizing: border-box;
  font-size: 0.8em;
  padding-inline: 0.2em;
}

#form__save-button {
  text-align: center;
  margin-top: 1em;
  background-color: #646cff !important;
  color: white;
}

#form__save-button:hover {
  background-color: #535bf2 !important;
}

@media (prefers-color-scheme: light) {
  #form__save-button:hover {
    background-color: #747bff;
  }
}

input[type="email"]::placeholder {
  /* Firefox, Chrome, Opera */
  text-align: center;
}
